<form method="POST" action="/register">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" placeholder="your@email.com">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="*****">
  <button type="submit" class="btn-primary">Submit</button>
</form>