<form method="POST" action="/register">
  <input type="email" name="email" placeholder="your@email.com">
  <input type="password" name="password" placeholder="*****">
  <button type="submit" class="btn-primary">Submit</button>
</form>